<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Welcome</title>
    <!-- Theme included stylesheets -->
    <%- include('./partials/links.ejs') %>  
</head>
<body>
    <div class="main switch-nav-display">
        <!-- nav bar start -->
        <%- include('./partials/navbar.ejs') %> 
        <!-- nav bar ends -->

        <div class="right">
            <div class="right-container">
                <% if(data.message){ %>
                    <div class="server-messages" style="background-color: rgb(33, 121, 33);"><%- data.message %> <p class="clear-server-messages">+</p></div>
                <%  } %>
               <% if(!data.user){ %>
                    <form action="/getUser" method="POST" enctype="application/x-www-form-urlencoded" class="find-user">
                        <label for="">
                            <p>Email or Phone Number</p>
                            <input type="text" name="detail">
                        </label>
                        <button type="submit">Check</button>
                    </form>
               <%  } %> 
               <% if(data.user){ %> 
                <% const {user} = data %> 
                   <form action="/transaction" method="POST" enctype="application/x-www-form-urlencoded"  class="person-details">
                    <div class="full-detail">
                        <p class="full-name"><%= user.fullName  %> </p>
                        <div class="balance" style="margin-left: 40px"> <strong> Balance </strong>: N<%= user.balance  %> </div>
                    </div>
                    <label for="">
                        <input type="text" style="display: none;" value= <%= user.id %>  name="user_id">
                        <select name="type" id="" class="type">
                            <option value="credit">Credit</option>
                            <option value="debit">Debit</option>
                        </select>
                    </label>
                    <input type="number" name="amount" placeholder="Amount">
                    <button type="submit">Update</button>
               </form>
               <% } %> 
            </div>
        </div>
    </div>

 <!-- Main Quill library -->
    <%- include('./partials/scripts.ejs') %> 
</body>
</html>